[submodule "third-party/rapidjson"]
	path = third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third-party/pistache"]
	path = third-party/pistache
	url = https://github.com/oktal/pistache.git
[submodule "third-party/inipp"]
	path = third-party/inipp
	url = https://github.com/mcmtroffaes/inipp.git
