.cproject
.project
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin
html/*
latex/*
local.properties
.settings/
*.launch
.cproject
.autotools
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.cache-main
.scala_dependencies
.worksheet
.project
.classpath
.apt_generated
.sts4-cache/
.vscoce/*
.history
.vscode